<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/add-product">Add Product</a></li>
            <li><a href="/cart">My Cart</a></li>
        </ul>
    </nav>
</header>